@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideLeft {
  from { transform: translateX(right); }
  to { transform: translateX(-170%); }
}

@keyframes slideRight {
  from { transform: translateX(-170%); }
  to { transform: translateX(right); }
}

@keyframes slideTop {
  from { transform: translateY(bottom); }
  to { transform: translateY(-170%); }
}

@keyframes slideBottom {
  from { transform: translateY(-170%); }
  to { transform: translateY(bottom); }
}

html, body {
  overflow-x: hidden;
  background-color: #090909;
  color: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.root-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: px;
  gap: 20px;
  background: linear-gradient(to bottom, #090909, #252525);
}

.location-panel {
  width: 100%;
  height: 60%;
  padding: 24px;
  align-content: center;
  padding-top: 40px;
  gap: 50px;
  animation: fadeIn 2s ease-in forwards;
}


.map-panel {
  position: relative;
  width: 100%;
  height: 40%;
  padding: 16px;
  animation: fadeIn 2s ease-in forwards;
}

.restaurant-panel {
  margin: auto;
  width: 100%;
  height: 70%;
  position: absolute;
  top: 45%;
}

.restaurant-list {
  height: 45vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 12px,
}

.map-iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 0;
  border-radius: 20px;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.map-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 20px rgba(0,0,0,1);
  pointer-events: none;
  z-index: 2;
}

.title {
  font-size: 45;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.subtitle {
  font-size: 20;
  font-weight: lighter;
  text-align: center; 
  margin-bottom: 50px;
}

.location-input-holder {
  width: 100%;
  display: flex;
  gap: 8px;
}

.location-input-holder input {
  flex: 1;
  border: 1px solid #eeeeee;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.location-button {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  touch-action: manipulation;
  margin-top: 8px;
}

.manual-button {
  background: linear-gradient(to right, #3b82f6, #2563eb); /* blue-500 → blue-600 */
  color: #eeeeee;
  border: none;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.15);
}

.manual-button:active {
  transform: scale(0.92);
}

.auto-button {
  background: transparent;
  color: #3b82f6; /* blue-500 */
  border: 2px solid #3b82f6;
}

.auto-button:active {
  transform: scale(0.95);
}

.align-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.to-page-two-button, .to-page-one-button {
  background: #eeeeee;
  color: #000000;
  font-weight: bolder;
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  touch-action: manipulation;
  margin-top: 40px;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.to-page-two-button:active {
  box-shadow: inset 0px 0px 28px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}


.inactive {  
  animation: fadeOut 1s ease-in forwards;
}

.active {  
  animation: fadeIn 1s ease-in forwards;
}

.slide-out {
  animation: slideTop 2s ease-in-out forwards;
}

.slide-in {
  animation: slideBottom 1s ease-in-out forwards;
}


@media (min-width: 980px) {
  .root-bg {
    flex-direction: row;
    overflow-x: hidden; 
    padding: 60px 100px;
  }

  .location-panel {
    width: 60%;
    height: auto;
  }

  .map-panel {
    width: 40%;
    height: auto;
  }

  .map-iframe {
    min-height: 300px;
  }

  .restaurant-panel {
    margin: auto;
    width: 55%;
    height: auto;
    position: absolute;
    top: auto;
    left: 40%;
  }

  .restaurant-list {
    height: 88vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 12px,
  }

  .title {
    font-size: 60;
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }

  .left-inner-panel {
    width: 80%;
  }

  .manual-button:hover {
    background: linear-gradient(to right, #2563eb, #1d4ed8); /* darker on hover */
    transform: scale(1.02);
  }

  .manual-button:active {
    transform: scale(0.95);
  }

  .auto-button:hover {
    transform: scale(1.02);
  }

  .auto-button:active {
    transform: scale(0.95);
  }

  .align-center {
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .to-page-two-button:hover {
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  } 

  .to-page-two-button:active {
    transform: scale(0.95);
  }

  .slide-out {
    animation: slideLeft 2s ease-in-out forwards;
  }

  .slide-in {
    animation: slideRight 1s ease-in-out forwards;
  }
}
